<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/admin_announce_add.css">
    <script>
        function my_btn_handler() {
            var parent = document.getElementById("img-form");
            var filecheck = document.getElementById("selectImg");
            if (!filecheck.value) {
                parent.removeChild(filecheck);
                return true;
            }

        }
    </script>

</head>
<body>
<!-- header -->
<header>
    <div class="container">
        <h1>
            <a th:href="@{/admin}"> <button>M <span>Block</span></button></a>
        </h1>
    </div>
</header>
<main>
    <div class="container">
        <div class="top">
            <span>관리자 페이지</span>
        </div>
        <div class="content">
            <div class="left">
                <ul>
                    <li><a th:href="@{/admin/announce}"><div class="list">공지사항</div></a></li>
                    <li><a th:href="@{/admin/news}"><div class="list">투자게시판 관리</div></a></li>
                    <li><a th:href="@{/admin/invest}"><div class="list">투자종목 관리</div></a></li>
                    <li><a th:href="@{/admin/partner}"><div class="list">협력업체 관리</div></a></li>
                    <li><a th:href="@{/admin/consulting}"><div class="list" >개인 문의</div></a></li>
                    <li><a th:href="@{/admin/member}"><div class="list" >멤버 관리</div></a></li>
                    <li><a th:href="@{/admin/chat}"><div class="list">단체 채팅</div></a></li>
                </ul>
            </div>
            <div class="right">
                <div class="title"><h2>공지사항 수정</h2></div>
                <form th:method="post" th:action="@{|/admin/announce/${id}|}" th:object="${writeAnnounceReq}" enctype="multipart/form-data">
                    <div id="img-form" class="form-group">
                        <label>메인 이미지</label>
                        <input id="selectImg" type="file" th:field="*{imgFile}" hidden>
                        <div class="main-img" onclick="defaultBtnActive()">
                            <img th:src="${announce.imgUrl}" alt="" class="active">
                            <i class="fa-solid fa-cloud-arrow-up"></i>
                            select your image
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title">제목</label>
                        <input type="text" id="title" th:name="title" th:value="${announce.title}" required>
                    </div>
                    <div class="form-group">
                        <label for="content">내용</label>
                        <textarea id="content" autocomplete="off" th:name="context" th:text="${announce.context}" required></textarea>
                    </div>
                    <button type="submit" onclick="my_btn_handler()">게시하기</button>
                </form>
            </div>
        </div>
    </div>
</main>
<script src="/js/add_image.js"></script>
</body>
</html>