<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCN</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- ICON SCOUT -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/home.css">

    <!-- Link Swiper's CSS -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>

</head>
<body>
<!-- =========== NAVBAR ========== -->
<nav id="nav">
</nav>

<!-- =========== HEADER ========== -->
<section id="header">
    <div class="container header__container">
        <!-- Swiper -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-text">
                        <h1>Cryptocurrency</h1>
                        <h1>enjoy</h1>
                        <h1>with creators</h1>
                        <h2 class="kor">크리에이터와 함께</h2>
                        <h2 class="kor">암호화폐를 더 즐겁게</h2>
                        <button class="btn btn-varient kor" th:onclick="location.href='/creator';">크리에이터 보기</button>
                    </div>
                    <div class="swiper-img">
                        <!-- <img src="../image/trader2.jpg"> -->
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-text">
                        <h1>Study For Blockchain</h1>
                        <h2 class="kor">막노동 그룹과 함께</h2>
                        <h2 class="kor">공부하는 블록체인</h2>
                        <button class="btn btn-varient kor" th:onclick="location.href='/brand';">회사소개 보기</button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-text">
                        <h1>Communicate</h1>
                        <h1>With Creators</h1>
                        <h2 class="kor">크리에이터와 함께</h2>
                        <h2 class="kor">암호화폐 소통</h2>
                        <button class="btn btn-varient kor" th:onclick="location.href='/news';">뉴스 보기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- =========== CREATOR ========== -->
<section id="creator">
    <div class="container creator__container">
        <div class="title">
            <div class="title__text">
                <h2>HOT CREATORS</h2>
            </div>
            <div class="title__line">
                <div></div>
                <div class="real__line"></div>
            </div>
        </div>
        <div class="sub__title">
            <h5 class="kor">막노동 그룹의 핫한 크리에이터를 만나보세요</h5>
        </div>
        <div class="creator__item" >
            <article th:each="youtuber : ${youtubeList}">
                <div class="creator__info">
                    <div class="creator__name">
                        <h5 th:text="${youtuber.title}">막노동 고등어</h5>
                        <div class="on-air"></div>
                    </div>
                    <div class="position">
                        <h5>BTCUSDT</h5>
                        <p>Long</p>
                    </div>
                    <div class="creator__detail">
                        <div class="creator-row">
                            <p>규모</p>
                            <h5 style="color: var(--color-green);">97.77</h5>
                            <p>진입가</p>
                            <h5>19,801.00</h5>
                            <p>청산가</p>
                            <h5 style="color: var(--color-orange);">17,489.00</h5>
                        </div>
                        <div class="creator-row">
                            <p>미실현 손익</p>
                            <h5 style="color: var(--color-green);">216,921.00</h5>
                            <p>진입 평균가</p>
                            <h5>21,382.00</h5>
                        </div>
                    </div>
                </div>
                <img th:src="${youtuber.imgFile}">
            </article>

            <article>
                <div class="creator__info">
                    <div class="creator__name">
                        <h5>막노동 고등어</h5>
                        <div class="on-air"></div>
                    </div>
                    <div class="position">
                        <h5>BTCUSDT</h5>
                        <p>Long</p>
                    </div>
                    <div class="creator__detail">
                        <div class="creator-row">
                            <p>규모</p>
                            <h5 style="color: var(--color-green);">97.77</h5>
                            <p>진입가</p>
                            <h5>19,801.00</h5>
                            <p>청산가</p>
                            <h5 style="color: var(--color-orange);">17,489.00</h5>
                        </div>
                        <div class="creator-row">
                            <p>미실현 손익</p>
                            <h5 style="color: var(--color-green);">216,921.00</h5>
                            <p>진입 평균가</p>
                            <h5>21,382.00</h5>
                        </div>
                    </div>
                </div>
                <img src="../images/trader3.jpg">
            </article>
            <article>
                <div class="creator__info">
                    <div class="creator__name">
                        <h5>막노동 고등어</h5>
                        <div class="on-air"></div>
                    </div>
                    <div class="position">
                        <h5>BTCUSDT</h5>
                        <p>Long</p>
                    </div>
                    <div class="creator__detail">
                        <div class="creator-row">
                            <p>규모</p>
                            <h5 style="color: var(--color-green);">97.77</h5>
                            <p>진입가</p>
                            <h5>19,801.00</h5>
                            <p>청산가</p>
                            <h5 style="color: var(--color-orange);">17,489.00</h5>
                        </div>
                        <div class="creator-row">
                            <p>미실현 손익</p>
                            <h5 style="color: var(--color-green);">216,921.00</h5>
                            <p>진입 평균가</p>
                            <h5>21,382.00</h5>
                        </div>
                    </div>
                </div>
                <img src="../images/trader4.jpg">
            </article>
        </div>
    </div>
</section>

<!-- =========== NEWS ========== -->
<section id="news">
    <div class="container news__container">
        <div class="title">
            <div class="title__text">
                <h2>MakLodong-Group NEWS</h2>
            </div>
            <div class="title__line">
                <div></div>
                <div class="real__line"></div>
            </div>
        </div>
        <div class="sub__title">
            <h5 class="kor">막노동 그룹의 새로운 소식을 전해요</h5>
        </div>
        <div class="news__list" id="jsonContent" name="jsonContent">
            <article>
                <div class="news__header">
                    <div class="news__image">
                        <img src="../images/piggy.jpg" alt="">
                    </div>
                    <div class="news__sort">
                        <p>SORT</p>
                    </div>
                </div>
                <div class="news__body">
                    <div class="news__title">
                        <h4>NEWS TITLE</h4>
                    </div>
                    <div class="news__content">
                        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, dolore pariatur. Enim ex eos praesentium. this is four line for show overhidden show me more</h5>
                    </div>
                </div>
                <div class="news__date">
                    <p>2022. 09. 20</p>
                </div>
            </article>
            <article>
                <div class="news__header">
                    <div class="news__image">
                        <img src="../images/microphone-17709_1280.jpg" alt="">
                    </div>
                    <div class="news__sort">
                        <p>SORT</p>
                    </div>
                </div>
                <div class="news__body">
                    <div class="news__title">
                        <h4>NEWS TITLE</h4>
                    </div>
                    <div class="news__content">
                        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, dolore pariatur. Enim ex eos praesentium. this is four line for show overhidden show me more</h5>
                    </div>
                </div>
                <div class="news__date">
                    <p>2022. 09. 20</p>
                </div>
            </article>
            <article>
                <div class="news__header">
                    <div class="news__image">
                        <img src="../images/green-5124174.jpg" alt="">
                    </div>
                    <div class="news__sort">
                        <p>SORT</p>
                    </div>
                </div>
                <div class="news__body">
                    <div class="news__title">
                        <h4>NEWS TITLE</h4>
                    </div>
                    <div class="news__content">
                        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, dolore pariatur. Enim ex eos praesentium. this is four line for show overhidden show me more</h5>
                    </div>
                </div>
                <div class="news__date">
                    <p>2022. 09. 20</p>
                </div>
            </article>
        </div>
       <a th:href="@{/news}"><button class="btn btn-varient kor" >최신 뉴스 보러가기</button></a>
    </div>
</section>

<!-- =========== FOOTER ========== -->
<footer id="footer">
</footer>


<!-- =========== JAVASCRIPT ========== -->
<script src="../js/base.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        navigation: {
            nextEl: ".left-button",
            prevEl: ".right-button",
        },
    });
</script>


<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<!--Medium API-->
<script type="text/javascript">
    function getFormatDate(date){
        var strArray = date.split('-');
        strArray[2]=strArray[2].substring(0,2);
        return strArray[0] + '.' + strArray[1] + '.'+strArray[2] ;
    }

    $(function () {
        var $content = $('#jsonContent');
        var data = {
            rss_url: 'https://medium.com/feed/@mcnbluefish'
        };
        $.get('https://api.rss2json.com/v1/api.json', data, function (response) {
            if (response.status == 'ok') {
//var output = '';
                var output = '';
                $.each(response.items, function (k, item) {
                    var visibleSm;
                    if(k < 3){
                        visibleSm = '';
                    } else {
                        visibleSm = ' visible-sm';
                    }

                    var tagIndex = item.description.indexOf('<img'); // Find where the img tag starts
                    var srcIndex = item.description.substring(tagIndex).indexOf('src=') + tagIndex; // Find where the src attribute starts
                    var srcStart = srcIndex + 5; // Find where the actual image URL starts; 5 for the length of 'src="'
                    var srcEnd = item.description.substring(srcStart).indexOf('"') + srcStart; // Find where the URL ends
                    var src = item.description.substring(srcStart, srcEnd); // Extract just the URL
                    localStorage.setItem(item.title, JSON.stringify(item));
                    var content="";
                    if(item.content.includes('<h4>')){
                        var contentIndex = item.content.indexOf('<h4>');
                        var contentStart = contentIndex+4;
                        var contentEnd = item.content.substring(contentStart).indexOf('</h4>')+contentStart;
                        content = item.content.substring(contentStart, contentEnd);
                    }else{
                        var yourString = item.description.replace(/<img[^>]*>/g,"");
                        var maxLength = 120 // maximum number of characters to extract
                        var trimmedString = yourString.substr(0, maxLength);
                        trimmedString = trimmedString.substr(0, Math.min(trimmedString.length, trimmedString.lastIndexOf(" ")))
                        content = trimmedString
                    }

                    output += '<article><a href="'+item.link+'">';
                    output += '<div class="news__header"> <div class="news__image">';
                    output += '<img src="'+src+'" alt=""> </div> <div class="news__sort"><p>SORT</p></div></div>';
                    output += '<div class="news__body"><div class="news__title"><h4>'+item.title+'</h4></div>';
                    output += '<div class="news__content"><h5>'+content+'</h5></div></div>'
                    output += '<div class="news__date"><p>2022. 09. 20</p></div></a></article>'

                    return k < 3;

                });
                $content.html(output);
//$("#header").load("content.html");
            }
        });
    });
</script>
</body>
</html>