<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/invest.css">
</head>
<body>
    <!-- header -->
    <header>
        <div class="container">
            <h1>
                <button><a th:href="@{/main}">M <span>Block</span></a></button>
            </h1>
            <nav>
                <ul>
                    <li><a th:href="@{/main}">Home</a>
                    </li>
                    <li><a th:href="@{/business}">Business</a>
                    </li>
                    <li><a href="#">Portfolio<i class="fa-solid fa-angle-down"></i></a>
                        <div class="line"></div>
                        <div class="dropdown">
                            <ul>
                                <li><a th:href="@{/news}">News</a></li>
                                <li><a th:href="@{/invest}">Investment</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">Customer<i class="fa-solid fa-angle-down"></i></a>
                        <div class="dropdown">
                            <ul>
                                <li><a th:href="@{/announce}">공지사항</a></li>
                                <li><a th:href="@{/consulting/form}">Consulting</a></li>
                                <li><a th:href="@{/contact}">Contact</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <button><a th:href="@{/login}"><i class="fa-solid fa-arrow-right-to-bracket"></i></a></button>
        </div>
    </header>
    <!-- board -->
    <section id="board">
        <div class="container">
            <div class="title">
                <h3>Portfolio</h3>
                <h2>Invested Coins/Tokens</h2>
            </div>
            <div style="display: flex; justify-content: center; align-items: center;">
                <div class="tradingview-widget-container">
                    <div id="tradingview_7a419" style="height: 400px; width: 600px; margin-right: 60px;"></div>
                    <div class="tradingview-widget-copyright">TradingView 제공 <a href="https://kr.tradingview.com/symbols/BTCUSDT/?exchange=BINANCE" rel="noopener" target="_blank"><span class="blue-text">BTCUSDT 차트</span></a></div>
                    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                    <script type="text/javascript">
                        new TradingView.widget(
                            {
                                "autosize": true,
                                "symbol": "BINANCE:BTCUSDT",
                                "interval": "D",
                                "timezone": "Etc/UTC",
                                "theme": "light",
                                "style": "1",
                                "locale": "kr",
                                "toolbar_bg": "#f1f3f6",
                                "enable_publishing": false,
                                "allow_symbol_change": true,
                                "container_id": "tradingview_7a419"
                            }
                        );
                    </script>
                </div>
                <div class="tradingview-widget-container">
                    <div id="tradingview_ca953" style="height: 400px; width: 600px;"></div>
                    <div class="tradingview-widget-copyright">TradingView 제공 <a href="https://kr.tradingview.com/symbols/ETHUSDT/?exchange=BINANCE" rel="noopener" target="_blank"><span class="blue-text">ETHUSDT 차트</span></a></div>
                    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                    <script type="text/javascript">
                        new TradingView.widget(
                            {
                                "autosize": true,
                                "symbol": "BINANCE:ETHUSDT",
                                "interval": "D",
                                "timezone": "Etc/UTC",
                                "theme": "light",
                                "style": "1",
                                "locale": "kr",
                                "toolbar_bg": "#f1f3f6",
                                "enable_publishing": false,
                                "allow_symbol_change": true,
                                "container_id": "tradingview_ca953"
                            }
                        );
                    </script>
                </div>
            </div>
            <div class="profit">
                <div class="profit-inner">
                    <p>Total Assets</p>
                    <h3>$ <span class="profit-num" data-target="113">0</span>M</h3>
                </div>
                <div class="profit-inner">
                    <p>YesterDay Profits</p>
                    <h3>+ $ <span class="profit-num" data-target="3">0</span>M</h3>
                    <h4>+ 3.67% <i class="fa-solid fa-arrow-up"></i></h4>
                </div>
                <div class="profit-inner">
                    <p>Montly Profits</p>
                    <h3>+ $ <span class="profit-num" data-target="100">0</span>M</h3>
                    <h4>+ 10.45% <i class="fa-solid fa-arrow-up"></i></h4>
                </div>
            </div>
            <div class="title">
                <h3>YouTube Traders</h3>
            </div>
            <div class="team__container">
                <article class="team__member">
                    <div class="team__member-image">
                        <img src="../images/trader2.jpg">
                    </div>
                    <div class="team__member-info">
                        <div class="name">
                            <h4>막노동 고등어</h4>
                            <p>onAir</p>
                        </div>
                        <div class="position">
                            <p>BTCUSDT</p>
                            <p>Long</p>
                        </div>
                    </div>
                    <div class="team__member-trade">
                        <div class="trade-info">
                            <p>규모</p>
                            <h5>97.44</h5>
                        </div>
                        <div class="trade-info">
                            <p>미실현 손익</p>
                            <h5>407,155.11</h5>
                        </div>
                        <div class="trade-info">
                            <p>진입가</p>
                            <h5>22,602.50</h5>
                        </div>
                        <div class="trade-info">
                            <p>시장평균가</p>
                            <h5>9,723,387.46</h5>
                        </div>
                        <div class="trade-info">
                            <p>청산가</p>
                            <h5>21,280.00</h5>
                        </div>
                    </div>
                    <div class="team__member-link">
                        <a><i class="fa-brands fa-youtube"></i></a>
                        <a th:href="@{/consulting/form}"><i class="fa-solid fa-q"></i></a>
                    </div>
                </article>
                <article class="team__member">
                    <div class="team__member-image">
                        <img src="../images/trader1.png">
                    </div>
                    <div class="team__member-info">
                        <h4>박호두</h4>
                        <div class="position">
                            <p>BTCUSDT</p>
                            <p>Long</p>
                        </div>
                    </div>
                    <div class="team__member-trade">
                        <div class="trade-info">
                            <p>규모</p>
                            <h5>97.44</h5>
                        </div>
                        <div class="trade-info">
                            <p>미실현 손익</p>
                            <h5>407,155.11</h5>
                        </div>
                        <div class="trade-info">
                            <p>진입가</p>
                            <h5>22,602.50</h5>
                        </div>
                        <div class="trade-info">
                            <p>시장평균가</p>
                            <h5>97.23,387.46</h5>
                        </div>
                        <div class="trade-info">
                            <p>청산가</p>
                            <h5>21,280.00</h5>
                        </div>
                    </div>
                    <div class="team__member-link">
                        <a href=""><i class="fa-brands fa-youtube"></i></a>
                        <a href=""><i class="fa-solid fa-q"></i></a>
                    </div>
                </article>
                <article class="team__member">
                    <div class="team__member-image">
                        <img src="../images/trader3.jpg">
                    </div>
                    <div class="team__member-info">
                        <h4>짭구</h4>
                        <div class="position">
                            <p>BTCUSDT</p>
                            <p>Long</p>
                        </div>
                    </div>
                    <div class="team__member-trade">
                        <div class="trade-info">
                            <p>규모</p>
                            <h5>97.44</h5>
                        </div>
                        <div class="trade-info">
                            <p>미실현 손익</p>
                            <h5>407,155.11</h5>
                        </div>
                        <div class="trade-info">
                            <p>진입가</p>
                            <h5>22,602.50</h5>
                        </div>
                        <div class="trade-info">
                            <p>시장평균가</p>
                            <h5>97.23,387.46</h5>
                        </div>
                        <div class="trade-info">
                            <p>청산가</p>
                            <h5>21,280.00</h5>
                        </div>
                    </div>
                    <div class="team__member-link">
                        <a href=""><i class="fa-brands fa-youtube"></i></a>
                        <a href=""><i class="fa-solid fa-q"></i></a>
                    </div>
                </article>
                <article class="team__member">
                    <div class="team__member-image">
                        <img src="../images/trader4.jpg">
                    </div>
                    <div class="team__member-info">
                        <h4>사또</h4>
                        <div class="position">
                            <p>BTCUSDT</p>
                            <p>Long</p>
                        </div>
                    </div>
                    <div class="team__member-trade">
                        <div class="trade-info">
                            <p>규모</p>
                            <h5>97.44</h5>
                        </div>
                        <div class="trade-info">
                            <p>미실현 손익</p>
                            <h5>407,155.11</h5>
                        </div>
                        <div class="trade-info">
                            <p>진입가</p>
                            <h5>22,602.50</h5>
                        </div>
                        <div class="trade-info">
                            <p>시장평균가</p>
                            <h5>97.23,387.46</h5>
                        </div>
                        <div class="trade-info">
                            <p>청산가</p>
                            <h5>21,280.00</h5>
                        </div>
                    </div>
                    <div class="team__member-link">
                        <a href=""><i class="fa-brands fa-youtube"></i></a>
                        <a href=""><i class="fa-solid fa-q"></i></a>
                    </div>
                </article>
            </div>
            <div class="title">
                <h3>Chart</h3>
            </div>
            <div class="control">
                <div class="control-upbit active"
                     onclick="var upBitDiv = document.getElementById('upbit');
                              var binanceDiv = document.getElementById('binance');
                              const upbitIcon = document.querySelector('section .control .control-upbit');
                              const binanceIcon = document.querySelector('section .control .control-binance');
                              upbitIcon.classList.add('active');
                              binanceIcon.classList.remove('active');
                              upBitDiv.style.display='block';
                              binanceDiv.style.display='none';">
                    <img src="../images/upbit.svg" alt="업비트 로고">
                    <p><strong>Upbit</strong> 차트</p>
                </div>
                <div class="control-binance"
                     onclick="var upBitDiv = document.getElementById('upbit');
                              var binanceDiv = document.getElementById('binance');
                              const upbitIcon = document.querySelector('section .control .control-upbit');
                              const binanceIcon = document.querySelector('section .control .control-binance');
                              upbitIcon.classList.remove('active');
                              binanceIcon.classList.add('active');

                              upBitDiv.style.display='none';
                              binanceDiv.style.display='block';" >
                    <img src="../images/binance-logo.svg" alt="바이낸스 로고">
                    <p><strong>Binacne</strong> 차트</p>
                </div>
            </div>


            <div class="coin" id="upbit">
                <div class="currency">
                    <div class="currency-inner">
                        <div class="currency-select">KRW</div>
                        <div class="currency-select">USDT</div>
                    </div>
                </div>
                <div class="coin-title">
                    <div class="title-inner">이름</div>
                    <div class="title-inner">현재가(원)</div>
                    <div class="title-inner">전일 대비(%)</div>
                    <div class="title-inner">거래 대금(백만)</div>
                </div>
                <div id="output"></div>
            </div>


            <div class="coin" id="binance" style="display: none">
                <div class="currency">
                    <div class="currency-inner">
                        <div class="currency-select">BUSD</div>
                        <div class="currency-select">USDT</div>
                    </div>
                </div>
                <div class="coin-title">
                    <div class="title-inner">Name</div>
                    <div class="title-inner">Price($)</div>
                    <div class="title-inner">24h Change(%)</div>
                    <div class="title-inner">24h Volume(USDT)</div>
                </div>

                <div id="outputB"></div>

            </div>
        </div>
    </section>
    <!-- bottom -->
    <section id="bottom">
        <div class="container">
            <div class="bottom-nav">
                <h3>M <span>Block</span></h3>
                <ul>
                    <li><a th:href="@{/main}">Home</a></li>
                    <li><a th:href="@{/business}">Business</a></li>
                    <li><a th:href="@{/news}">Portfolio</a></li>
                    <li><a th:href="@{/announce}">Customer</a></li>
                </ul>
            </div>
            <div class="bottom-info">
                <p>E-mail</p>
                <h4>aaa@google.com</h4>
                <p>Tel.</p>
                <h4>010-9999-9999</h4>
            </div>
            <div class="bottom-line"></div>
            <div class="bottom-sns">
                <a href="#" class="icon"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-telegram"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </section>
    <script th:inline="javascript">
        // upBit API 상세 설명
        // https://docs.upbit.com/docs/upbit-quotation-websocket

        var upBitUrl = "wss://api.upbit.com/websocket/v1";
        var binanceUrl = "wss://stream.binance.com:9443/ws";
        var output;
        var fileReader = new FileReader();
        var list = /*[[${upBitList}]]*/ [];
        var binanceCoin = /*[[${binanceList}]]*/ [];





        function chartUI(coinList, outputDiv,i){
            var coinConDiv = document.createElement('div');
            coinConDiv.setAttribute('class', 'coin-con');
            var coinInnerDiv = document.createElement('div');
            coinInnerDiv.setAttribute('class', 'coin-inner');
            var coinImgDiv = document.createElement('div');
            coinImgDiv.setAttribute('class', 'img');
            coinImgDiv.id=coinList[i].code+"imgUrl"
            var coinImg = document.createElement('img');
            coinImg.src = coinList[i].imgUrl;
            coinImgDiv.appendChild(coinImg);
            var coinNameP = document.createElement('h4');
            coinNameP.id = coinList[i].code+"name";
            coinNameP.innerText = coinList[i].name;

            var coinCode= document.createElement('h5');
            coinCode.id = coinList[i].code+"code";
            coinCode.innerText = coinList[i].code;

            var coinPrice = document.createElement('div');
            coinPrice.id = coinList[i].code+"price";
            coinPrice.setAttribute('class', 'coin-inner');
            coinPrice.innerText= "loading..."

            var coindayDiv= document.createElement('div');
            coindayDiv.setAttribute('class', 'coin-inner');
            var coindayP = document.createElement('p');
            coindayP.id = coinList[i].code+"dayP";

            var coinTradeDiv = document.createElement('div');
            coinTradeDiv.id = coinList[i].code+"trade";
            coinTradeDiv.setAttribute('class', 'coin-inner');

            coinInnerDiv.appendChild(coinImgDiv);
            coinInnerDiv.appendChild(coinNameP);
            coinInnerDiv.appendChild(coinCode);
            coinConDiv.appendChild(coinInnerDiv);

            coinConDiv.appendChild(coinPrice);

            coindayDiv.appendChild(coindayP);
            coinConDiv.appendChild(coindayDiv);

            coinConDiv.appendChild(coinTradeDiv);
            outputDiv.appendChild(coinConDiv);
        }
        function investUI(){

            output = document.getElementById('output');
            outputB=document.getElementById('outputB')

            for(var i=0; i<list.length; i++){
                chartUI(list, output,i);
            }

            for(var i=0; i<binanceCoin.length; i++){
                chartUI(binanceCoin,outputB, i);
            }


        }


        function init() {
            investUI();
            testUpBit();
            testBinance();
        }

        function testBinance() {
            binanceWebSocket = new WebSocket(binanceUrl);
            binanceWebSocket.onopen = function (evt) {
                onOpenB(evt);
            };
            binanceWebSocket.onclose = function (evt) {
                onCloseB(evt);
            };
            binanceWebSocket.onmessage = function (evt) {
                onMessageB(evt);
            };
            binanceWebSocket.onerror = function (evt) {
                onErrorB(evt);
            };
        }


        function testUpBit() {
            upBitWebSocket = new WebSocket(upBitUrl);
            upBitWebSocket.onopen = function (evt) {
                onOpen(evt);
            };
            upBitWebSocket.onclose = function (evt) {
                onClose(evt);
            };
            upBitWebSocket.onmessage = function (evt) {
                onMessage(evt);
            };
            upBitWebSocket.onerror = function (evt) {
                onError(evt);
            };
        }


        /**binance load**/
        function onOpenB(evt) {
            var coinNames = [];
            for(var i=0; i< binanceCoin.length;i++){
                coinNames[i] = binanceCoin[i].code;
            }
            writeToScreen("연결 완료");
            doSendB(
                JSON.stringify(
                    {
                        "method": "SUBSCRIBE",
                        "params":
                        coinNames,
                        "id": 1
                    }
                )
            );
        }

        function onCloseB(evt) {
            console.log("연결 해제");
        }

        function onMessageB(evt) {

            try {
                parseCoinB(evt.data);
            } catch (error) {
                console.log('error', error);
            }
        }

        function onErrorB(evt) {
            writeToScreen('<span style="color: red;"> 에러: </span>' + evt.data);
        }

        function doSendB(message) {
            binanceWebSocket.send(message);
        }


        function parseCoinB(message) {
            var data = JSON.parse(message);

            for(var i=0; i<binanceCoin.length; i++){
                var rawCoin = binanceCoin[i].code;
                var coin = rawCoin.split('@');
                var coinStr = coin[0].toUpperCase();
                if(data['s'] == coinStr){
                    var name = document.getElementById(binanceCoin[i].code+"name");
                    var price = document.getElementById(binanceCoin[i].code+"price");
                    var code = document.getElementById(binanceCoin[i].code+"code");
                    var day = document.getElementById(binanceCoin[i].code+"dayP");
                    var atpP = document.getElementById(binanceCoin[i].code+"trade")
                    var scr = parseFloat(data['P']);
                    if(scr<0){
                        day.style.color= "darkblue";
                    }else if(scr==0){
                        day.style.color= "black";
                    }
                    else{
                        day.style.color= "#D30000";
                    }
                    var atp= data['q']
                    var atp2 = parseFloat(atp).toFixed(2);
                    var atpStr = atp2.toString()
                         .replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
                    var priceStr = parseFloat(data['a']).toFixed(2)
                         .replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");

                    day.innerText=scr.toFixed(2) + "%";
                    name.innerText= binanceCoin[i].name;
                    price.innerText= priceStr
                    code.innerText=data['s'];
                    atpP.innerText = atpStr


                }
            }

        }




        /**up bit load**/
        function onOpen(evt) {
            writeToScreen("연결 완료");
            var codeList = [];
            for(var i=0; i<list.length; i++){
                codeList[i] = list[i].code;
            }
            doSend(
                JSON.stringify(
                    [
                        { "ticket" : "test"},
                        {"type" : "ticker" , "codes" :  codeList},
                        {"format": "SIMPLE"}
                    ]
                )
            );
        }

        function onClose(evt) {
            console.log("연결 해제");
        }

        function onMessage(evt) {

            try {
                fileReader.readAsText(evt.data);

                fileReader.addEventListener("loadend", function(e){
                    parseCoin(e.srcElement.result);
                    // writeToScreen('<span style="color: blue;"> 수신: ' + e.srcElement.result + '</span>')
                });
            } catch (error) {

            }
        }

        function onError(evt) {
            writeToScreen('<span style="color: red;"> 에러: </span>' + evt.data);
        }

        function doSend(message) {
            upBitWebSocket.send(message);
            writeToScreen("발신: ", message);

        }

        function writeToScreen(message) {
            // var pre = document.createElement("p");
            // pre.innerHTML = message;
            // output.appendChild(pre);
        }


        function parseCoin(message) {
            var data = JSON.parse(message);
            for(var i=0; i<list.length; i++){
                if(data['cd'] == list[i].code){
                    var name = document.getElementById(list[i].code+"name");
                    var price = document.getElementById(list[i].code+"price");
                    var code = document.getElementById(list[i].code+"code");
                    var day = document.getElementById(list[i].code+"dayP");
                    var atpP = document.getElementById(list[i].code+"trade")
                    var scr = data['scr']*100;

                    if(scr<0){
                        day.style.color= "darkblue";
                    }else if(scr==0){
                        day.style.color= "black";
                    }
                    else{
                        day.style.color= "#D30000";
                    }
                    var atp= data['atp24h']/1000000
                    var atp2 = atp.toFixed(2);
                    var atpStr = atp2.toString()
                        .replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
                    var priceStr = data['tp'].toString()
                        .replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");

                    day.innerText=scr.toFixed(2)+" %";
                    name.innerText= list[i].name;
                    price.innerText=priceStr;
                    code.innerText=list[i].code;
                    atpP.innerText = atpStr;


                }
            }


        }

        window.addEventListener("load", init, false);

    </script>
</body>
</html>