<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MCN</title>

  <!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- ICON SCOUT -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  <!-- STYLE SHEET -->
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/nav.css">
</head>
<body>
<!-- =========== NAVBAR ========== -->

<div class="container nav__container">
  <a th:href="@{/index}"><h4>MCN</h4></a>
  <ul>
    <a th:href="@{/index}"><li>Home</li></a>
    <a th:href="@{/brand}"><li>Brand</li></a>
    <a th:href="@{/creator}"><li>Creators</li></a>
    <a th:href="@{/news}"><li>News</li></a>
    <a th:href="@{/consulting/form}"><li>Contact</li></a>
    <a th:href="@{/login}"><button class="btn btn-varient">Login</button></a>
  </ul>
  <button class="menu-btn" id="menu-btn" onclick="document.getElementById('menu').classList.add('active')"><i class="uil uil-bars"></i></button>
</div>
<!-- =========== MENU ========== -->
<menu id="menu">
  <div class="container menu__container">
    <div class="menu-head">
      <h4>MCN</h4>
      <i class="uil uil-multiply" id="close"  onclick="document.getElementById('menu').classList.remove('active')"></i>
    </div>
    <div class="menu-content">
      <a th:href="@{/index}"><h2>Home</h2></a>
      <a th:href="@{/brand}"><h2>Brands</h2></a>
      <a th:href="@{/creator}"><h2>Creators</h2></a>
      <a th:href="@{/news}"><h2>News</h2></a>
      <a th:href="@{/consulting/form}"><h2>Contact</h2></a>
      <button class="btn-black" th:onclick="|location.href='/login'|">Login</button>
    </div>
  </div>
</menu>


</body>
</html>