<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Announce</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/announce_detail.css">
</head>
<body>
<!-- header -->
<header>
    <div class="container">
        <h1>
            <button><a th:href="@{/main}">M <span>Block</span></a></button>
        </h1>
        <nav>
            <ul>
                <li><a th:href="@{/main}">Home</a>
                </li>
                <li><a th:href="@{/business}">Business</a>
                </li>
                <li><a href="#">Portfolio<i class="fa-solid fa-angle-down"></i></a>
                    <div class="dropdown">
                        <ul>
                            <li><a th:href="@{/news}">News</a></li>
                            <li><a th:href="@{/invest}">Investment</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Customer<i class="fa-solid fa-angle-down"></i></a>
                    <div class="line"></div>
                    <div class="dropdown">
                        <ul>
                            <li><a th:href="@{/announce}">공지사항</a></li>
                            <li><a th:href="@{/consulting/form}">Consulting</a></li>
                            <li><a th:href="@{/contact}">Contact</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
        <button><a th:href="@{/login}"><i class="fa-solid fa-arrow-right-to-bracket"></i></a></button>
    </div>
</header>
<!-- board -->
<section id="board">
    <div class="container">
        <div class="title">
            <h3>QnA List</h3>
        </div>
        <div class="board-main">
            <div class="left">
                <ul>
                    <li><a th:href="@{/announce}"><span>공지사항</span></a></li>
                    <li><a th:href="@{/qnaList}"><span>QnA</span></a></li>
                    <li><a th:href="@{/consulting/form}"><span>Consulting</span></a></li>
                    <li><a th:href="@{/contact}"><span>Contact</span></a></li>
                </ul>
            </div>
            <div class="right">
                <h4>상담내용</h4>
                <div class="info">
                    <div class="info-inner">
                        <h5 th:text="${consult.name}">Moo</h5>
                        <div class="num" th:text="${consult.datetime}">2022년 06월 22일 17:11</div>
                        <div class="num">reply:<span th:text="${consult.replied}"></span></div>
                    </div>
                </div>
                <div class="content">
                    <div class="content-inner" th:text="${consult.context}">
                        context
                    </div>
                </div>


                <div th:unless="${consult.replied==false}"  style="margin-top: 150px;">
                    <span style="font-weight: bold; font-size: 20px;">답변내역</span>
                    <div class="info">
                        <div class="img">
                            <img th:src="${user.profile_img}">
                        </div>
                        <div class="info-inner">
                            <h5 th:text="${consultingReply.writer_name}">Moo</h5>
                            <div class="num" th:text="${consult.datetime}">2022년 06월 22일 17:11</div>
                        </div>
                    </div>
                    <div style="margin-top: 30px;">
                        <p th:text="${consultingReply.content}">답변 내용답변 내용 답변 내용 답변 내용
                            답변 내용 답변 내용 답변 내용 답변 내용</p>
                    </div>
                </div>

                <div th:if="${consult.replied==false}">

                </div>

            </div>


        </div>
    </div>
</section>
<!-- bottom -->
<section id="bottom">
    <div class="container">
        <div class="bottom-nav">
            <h3>M <span>Block</span></h3>
            <ul>
                <li><a th:href="@{/main}">Home</a></li>
                <li><a th:href="@{/business}">Business</a></li>
                <li><a th:href="@{/news}">Portfolio</a></li>
                <li><a th:href="@{/announce}">Customer</a></li>
            </ul>
        </div>
        <div class="bottom-info">
            <p>E-mail</p>
            <h4>aaa@google.com</h4>
            <p>Tel.</p>
            <h4>010-9999-9999</h4>
        </div>
        <div class="bottom-line"></div>
        <div class="bottom-sns">
            <a href="#" class="icon"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" class="icon"><i class="fa-brands fa-telegram"></i></a>
            <a href="#" class="icon"><i class="fa-brands fa-youtube"></i></a>
        </div>
    </div>
</section>
</body>
</html>