<!DOCTYPE html>
<html lang="zxx" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/register.css">
</head>
    <body>
    <!-- =================HEADER================ -->
    <header>
        <div class="container header__container">
            <a href="index.html">
                <h4>MCN</h4>
            </a>
        </div>
    </header>

    <!-- =================SIGNUP================ -->
    <section id="signup">
        <div class="container signup__container">
            <div class="title">
                <div class="title__text">
                    <h2 class="kor">회원 가입</h2>
                </div>
                <div class="title__line">
                    <div></div>
                    <div class="real__line"></div>
                </div>
            </div>
            <form action="#">
                <div class="form-group">
                    <label for="name" class="kor">이름</label>
                    <input id="name" class="btn-input" type="text" placeholder="이름을 입력하세요">
                </div>
                <div class="form-group">
                    <label for="role" class="kor">직책</label>
                    <div class="select-menu">
                        <div class="select-btn">
                            <input id="role" class="sBtn-text" placeholder="직책을 선택하세요" readonly>
                            <i class="uil uil-angle-down"></i>
                        </div>
                        <ul class="options">
                            <li class="option"><span class="option-text kor">관리자</span></li>
                            <li class="option"><span class="option-text kor">멤버</span></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id" class="kor">아이디</label>
                    <input id="id" class="btn-input" type="text" placeholder="아이디를 입력하세요">
                </div>
                <div class="form-group">
                    <label for="password" class="kor">비밀번호</label>
                    <input id="password" class="btn-input" type="password" placeholder="비밀번호를 입력하세요">
                    <input id="re-password" class="btn-input" type="password" placeholder="비밀번호를 다시 입력하세요">
                </div>
                <button class="btn-black loginBtn kor" type="submit">회원가입</button>
            </form>
        </div>
    </section>

    <script src="/js/signup.js"></script>

</body>
</html>