<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script language="JavaScript" type="text/javascript">
        // Binance API 상세 설명
        // https://binance-docs.github.io/apidocs/spot/en/#rolling-window-price-change-statistics
        
        var binanceUrl = "wss://stream.binance.com:9443/ws";
        var output;

        var coin_name = {
            "KRW-ETH" : "이더리움",
            "KRW-SOL" : "솔라나",
            "KRW-AVAX" : "아발란체",
            "KRW-MATIC" : "폴리곤",
            "KRW-NEAR" : "니어 프로토콜",
            "KRW-ATOM" : "코스모스",
            "KRW-ALGO" : "알고랜드",
            "KRW-ADA" : "에이다",
            "KRW-DOT" : "폴카닷"
        }

        function init() {
            output = document.getElementById("output");
            testBinance();
        }

        function testBinance() {
            binanceWebSocket = new WebSocket(binanceUrl);
            binanceWebSocket.onopen = function (evt) {
                onOpen(evt);
            };
            binanceWebSocket.onclose = function (evt) {
                onClose(evt);
            };
            binanceWebSocket.onmessage = function (evt) {
                onMessage(evt);
            };
            binanceWebSocket.onerror = function (evt) {
                onError(evt);
            };
        }

        function onOpen(evt) {
            writeToScreen("연결 완료");
            doSend(
                JSON.stringify(
                    {
                        "method": "SUBSCRIBE",
                        "params":
                            [
                                "ethusdt@aggTrade", // "USD-ETH" : "이더리움",
                                "solusdt@aggTrade", // "KRW-SOL" : "솔라나",
                                "avaxusdt@aggTrade", // "KRW-AVAX" : "아발란체",
                                "maticusdt@aggTrade", // "KRW-MATIC" : "폴리곤",
                                "nearusdt@aggTrade", // "KRW-NEAR" : "니어 프로토콜",
                                "atomusdt@aggTrade", // "KRW-ATOM" : "코스모스",
                                "algousdt@aggTrade", // "KRW-ALGO" : "알고랜드",
                                "adausdt@aggTrade", // "KRW-ADA" : "에이다",
                                "dotusdt@aggTrade" // "KRW-DOT" : "폴카닷"

                            ],
                        "id": 1
                    }
                )
            );
        }

        function onClose(evt) {
            console.log("연결 해제");
        }

        function onMessage(evt) {

            try {
                parseCoin(evt.data);
            } catch (error) {
                console.log('error', error);
            }
        }

        function onError(evt) {
            writeToScreen('<span style="color: red;"> 에러: </span>' + evt.data);
        }

        function doSend(message) {
            console.log("doSend", message);
            writeToScreen("발신: ", message);
            binanceWebSocket.send(message);

        }

        function writeToScreen(message) {
            var pre = document.createElement("p");
            pre.innerHTML = message;
            output.appendChild(pre);
        }

        function parseCoin(message) {
            var data = JSON.parse(message);
            console.log(data['s'], data['p']);

        }

        window.addEventListener("load", init, false);

    </script>
</head>
<body>
    <h2>WebSocket Test</h2>
    <div id="output"></div>
</body>
</html>