<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script language="JavaScript" type="text/javascript">
        // Binance API 상세 설명
        // https://binance-docs.github.io/apidocs/spot/en/#rolling-window-price-change-statistics
        
        var binanceUrl = "wss://stream.binance.com:9443/ws";
        var output;

        var coin_name = [
            "ethusdt@ticker", // "USD-ETH" : "이더리움",
            "solusdt@ticker", // "KRW-SOL" : "솔라나",
            "avaxusdt@ticker", // "KRW-AVAX" : "아발란체",
            "maticusdt@ticker", // "KRW-MATIC" : "폴리곤",
            "nearusdt@ticker", // "KRW-NEAR" : "니어 프로토콜",
            "atomusdt@ticker", // "KRW-ATOM" : "코스모스",
            "algousdt@ticker", // "KRW-ALGO" : "알고랜드",
            "adausdt@ticker", // "KRW-ADA" : "에이다",
            "dotusdt@ticker" // "KRW-DOT" : "폴카닷"
        ];

        function init() {
            output = document.getElementById("output");
            testBinance();
        }

        function testBinance() {
            binanceWebSocket = new WebSocket(binanceUrl);
            binanceWebSocket.onopen = function (evt) {
                onOpen(evt);
            };
            binanceWebSocket.onclose = function (evt) {
                onClose(evt);
            };
            binanceWebSocket.onmessage = function (evt) {
                onMessage(evt);
            };
            binanceWebSocket.onerror = function (evt) {
                onError(evt);
            };
        }

        function onOpen(evt) {
            writeToScreen("연결 완료");
            doSend(
                JSON.stringify(
                    {
                        "method": "SUBSCRIBE",
                        "params":
                            coin_name,
                        "id": 1
                    }
                )
            );
        }

        function onCloseB(evt) {
            console.log("연결 해제");
        }

        function onMessageB(evt) {

            try {
                parseCoinB(evt.data);
            } catch (error) {
                console.log('error', error);
            }
        }

        function onErrorB(evt) {
            writeToScreen('<span style="color: red;"> 에러: </span>' + evt.data);
        }

        function doSendB(message) {
            binanceWebSocket.send(message);
        }


        function parseCoinB(message) {
            var data = JSON.parse(message);
            console.log("전일대비"+data['p'], "24volume:"+data['q'], "price: "+ data['a']);

        }

        window.addEventListener("load", init, false);

    </script>
</head>
<body>
    <h2>WebSocket Test</h2>
    <div id="output"></div>
</body>
</html>